header {
  background-color: white;
}

.head {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
}

.head-nav {
  display: flex;
  justify-content: space-between;
  margin-right: 24px;
}

.head-nav-mobile {
  display: none;
}

.head-nav span {
  margin-left: 16px;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #D8D8D8;
  padding-top: 32px;
  padding-bottom: 32px;
}

.banner-img {
  width: 60%;
  margin-left: 24px;
  margin-right: 12px;
}

.sec1-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  text-align: center;
  width: 25%;
}

.banner-header {
  margin-bottom: 24px;
  font-size: 32px;
  font-weight: bold;
  line-height: 1.3;
}

.banner-paragraph {
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 1.3
}

.banner-btn {
  font-size: 24px;
  color: white;
  background-color: gray;
  padding-top: 8px;
  padding-bottom: 8px;
}

.section2 {
  margin-top: 32px;
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
}

.sec2-part1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 24px;
  width: 60%;
}

.sec2-part1 img {
  margin-bottom: 32px;
  width: 100%;
}

.sec2-part1 h2 {
  font-size: 30px;
  font-weight: bold;
}

.sec2-part1 p {
  margin-top: 24px;
  line-height: 1.5;
}

.sec2-part2 {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 24px;
  border-left: #D8D8D8 solid 1px;
}

.sec2-part2-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sec2-part2-item img {
  width: 35%;
  height: auto;
  padding: 16px;
}

.old-man-pic {
  background-color: #D8D8D8;
}

.orientation {
  border-bottom: #D8D8D8 solid 2px;
}

.sec2-part2-text {
  width: 65%;
  margin-left: 16px;
}

.sec2-part2-headers {
  margin-bottom: 8px;
  font-weight: heavy;
  font-size: 20px;
}

.sec2-part2-content {
  margin-bottom: 8px;
  font-weight: light;
  font-size: 12px;
  color: gray;
}

.sec2-part2-link {
  color: lightblue;
  text-decoration: none;
  font-weight: light; 
  font-size: 12px;
}

.sec4 {
  background-color: #D8D8D8;
}

.sec4 h2{ 
  text-align: center;
  padding-top: 32px;
  font-size: 30px;
  font-weight: bold;
}

.section4 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 32px 72px;
}

.sec4-item {
  width: 32%;
  margin-bottom: 32px;
  background-color: white;
  padding-bottom: 24px;
}

.sec4-item img {
  width: 100%;
}

.sec4-item-headers {
  margin-top: 16px;
  font-size: 24px;
  font-weight: bold;
  margin-left: 16px;
}

.sec4-item-paragraph {
  margin-top: 8px;
  margin-left: 16px;
  font-weight: light;
  font-weight: lighter;
  color: darkgray;
  line-height: 1.5;
}

.section3 {
  margin-bottom: 32px;
}

.section3-header {
  margin: 32px auto;
  text-align: center;
  font-size: 30px;
}

.sec3-parts {
  display: flex;
  justify-content: space-between;
}

.sec3-part1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 24px;
  width: 60%;
}

.sec3-part1 video {
  margin-bottom: 24px;
  width: 100%;
}

.sec3-part1 h3 {
  margin-top: 24px;
  font-size: 30px;
  font-weight: bold;
}

.sec3-part1 p {
  margin-top: 8px;
  line-height: 1.5;
}

.sec3-part2 {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 24px;
  border-left: #D8D8D8 solid 1px;
}

.sec3-part2-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sec3-part2-item img {
  width: 35%;
  height: auto;
  padding: 16px;
}

.sec3-part2-text {
  width: 65%;
  margin-left: 16px;
}

.fisma {
  background-color: #D8D8D8;
}

.sec3-part2-headers {
  margin-bottom: 8px;
  font-weight: heavy;
  font-size: 20px;
}

.sec3-part2-content {
  margin-bottom: 8px;
  font-weight: light;
  font-size: 12px;
  color: gray;
}


footer {
  border-top: solid 1px #D8D8D8;
}
.footer {
  display: flex;
  justify-content: space-between;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 16px;
  margin-bottom: 48px;
}

.footer-link {
  text-decoration: none;
  color: black;
}

.terms {
  margin-right: 5px;
}

@media only screen and (max-width: 480px) {

  .head, 
  .logo,
  .head-nav {
    display: none;
  }

  .head-nav-mobile {
    height: 64px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .banner {
    flex-direction: column;
    padding-top: 0;
  }

  .banner img {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  .sec1-text {
    width: 100%;
    margin-top: 32px;
  }

  .sec2-part1 {
    display: none;  
  }

  .sec2-part2 {
    width: 100%;
    margin-left: 0;
  }

  .sec2-part2-item {
    border-bottom: none;
    flex-direction: column;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .sec2-part2-item img {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .sec2-part2-text {
    margin-left: 32px;
  }

  .old-man-pic {
    background-color: white;
    }

  .sec4 {
    background-color: white;
    border-top: 1px solid gray;
    
  }

  .section4 {
    margin-top: 16px;
    margin-bottom: 32px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .sec4-item {
    width: 100%;
    background-color: #D8D8D8;
    margin-bottom: 8px;
  }

  .sec4-item img,
  .sec4-item p {
    display: none;
  }

  .sec3-part1 {
    width: 100%;
    margin-left: 0;
  }

  .sec3-part1 h3,
  .sec3-part1 p {
    display: none;
  }

  .sec3-part2 {
    display: none;
  }

  .footer {
    margin-bottom: 16px;
  }

  .footer-nav {
    display: none;  
  }
}







